body {
  font-family: sans-serif;
  padding: 2rem;
}

#feed-content {
  display: flex;
  justify-content: space-between;
}

.feed-column {
  width: 48%;
}

.feed-column .card {
  background-color: #fff;
  margin: 10px 0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.feed-column .card p {
  color: #6c757d; /* Gray color for summary text */
}

a {
  color: #007bff;
  text-decoration: none;
}
