:root {
  --background-white: #ffffff;
  --border-color: #dddddd;
  --button-text-color: #ffffff;
  --gap: 1.5rem;
  --link-color: #007bff;
  --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-hover-color: #007bff;
  --text-black: #000000;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: var(--gap);
}

#feed-content {
  display: flex;
  gap: var(--gap);
  justify-content: space-between;
}

.feed-column {
  border-radius: 10px;
  width: calc(50% - var(--gap));
}

.card {
  background-color: var(--background-white);
  border: 1px solid var(--border-color);
  border-radius: 10px;
  box-shadow: 0 2px 4px var(--shadow-color);
  margin-bottom: var(--gap);
  overflow: hidden;
  transition: box-shadow 0.3s;
}

.card-link {
  display: block;
  padding: 20px;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 2px 4px var(--shadow-hover-color);
}

.card-title {
  color: var(--link-color);
  display: block; /* Ensures the title takes up the full width */
}

.card-summary {
  color: var(--text-black);
}

.edit-button-container {
  bottom: 0;
  left: 0;
  position: fixed;
  text-align: center;
  width: 100%;
}

.edit-button {
  background-color: var(--link-color);
  border-radius: 5px;
  color: var(--button-text-color);
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.edit-button:hover {
  background-color: darken(var(--link-color), 10%);
}

/* Centered layout for the RSS title */
.page-header {
  text-align: center;
}
